h1 {
    text-align: center;
  }

  .marker {
    width: 175px;
    height: 25px;
    margin: 0px auto;
  }
  
  .one {
    background-color:coral;
    border-radius: 25px 25px 0px 0px; 
    height: 35px;
  }
  
  .two {
    background-color: green;
    border-radius: 15px 15px;
    height: 10px;
    
  }
  
  .five {
    background-color: yellow;
    border-radius: 15px 15px;
    height: 15px;
  }

  .three {
    background-color: brown;
    border-radius: 10px;
    
  }

  .four {
    background-color: coral;
    border-radius: 0px 0px 25px 25px;
    height: 35px;
  }